<!DOCTYPE html>
<html dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{name}}</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
</head>

<body class="mw7 center pv5 ph2">
  <img class="w-75" src="{{logo_url}}"/>
  <p class="sans-serif f5">
    {{tagline}}
  </p>
  <p class="mt5 b f4 sans-serif"> Våra öl </p>
  <div class="cf">
    <div class="fl w-50-l w-100 ph3 pr4-l ">
      <img class="center link pointer" src="res/witbier.png"/>
    </div>
    <div class="fl w-50-l w-100 ph3 pl4-l pt3 pt0-l">
      <img class="center link pointer" src="res/kaffeporter.png"/>
    </div>
  </div>
  <div class="cf pt4-l pt3">
    <div class="fl w-50-l w-100 ph3 pr4-l">
      <img class="center link pointer" src="res/humlejuice.png"/>
    </div>
    <div class="fl w-50-l w-100 ph3 pl4-l pt3 pt0-l">
      <img class="center link pointer" src="res/veteochhallon.png"/>
    </div>
  </div>
  <div class="cf pt4-l pt3">
    <div class="fl w-50-l w-100 ph3 pr4-l">
      <img class="center link pointer" src="res/lemondrop.png"/>
    </div>
    <div class="fl w-50-l w-100 ph3 pl4-l pt3 pt0-l">
      <img class="center link pointer" src="res/stout.png"/>
    </div>
  </div>
  <footer>
    <pre class="pt5 tc"> Kontakt: <a href="mailto:erikstackelberg@gmail.com">erikstackelberg@gmail.com</a></pre>
  </footer>
</body>

</html>
